body{
	background-color: black;
}
a {
	color: yellow;
}
table, tr, td {
	border:1;
}

.container{
	width: 100%;
	display: grid;
	grid-template-areas: "head cont"
			     "list cont";
	grid-template-rows: 100px 1fr;
	grid-template-columns: 1fr 3fr;
}

#header{
	grid-area: head;
	background-color: blue;
	color: white;
	margin: 10px;
	text-align: center;
	font-size:4rem;	
}
#list {
	grid-area: list;
	background-color: purple;
}
#includeHtml {
	grid-area: cont;
	background-color: green;
	padding-left:10px;
}
